:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    --white: white;
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-gray: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

* {
    font-family: "Outfit";
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background-color: var(--eggshell);
    width: 100vw;
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
    background-color: var(--white);
}

section.presentation {
    width: 100%;
}

img.presentation {
    width: 100%;
    object-fit: cover;
}

section.content {
    padding: 2em;
}

section.preparation-time {
    h2 {
        font-family: "Outfit";
        font-size: 1.4em;
        font-weight: 600;
        color: var(--dark-raspberry);

    }
}

section.ingredients, section.instructions {
    border-bottom: 1px solid var(--light-gray);
}

section.preparation-time {
    background-color: var(--rose-white);
    color: var(--wenge-brown);
    padding: 0.1em;
    margin: 0.1em;
    padding-left: 2em;
    padding-right: 2em;

    ul {
        ::marker {
            color: var(--dark-raspberry);
        }
    }

}

h1 {
    font-family: "Young Serif";
    font-size: 2.2em;
    font-weight: 400;
}

h1#recipe-name {
    padding-top: 0;
    margin-top: 0;
    line-height: 1em;
}

h2 {
    font-family: "Young Serif";
    font-size: 1.7em;
    font-weight: 700;
    color: var(--nutmeg);
}

p {
    color: var(--wenge-brown);
    line-height: 1.5;
}

ul {
    ::marker {
        color: var(--nutmeg);
        font-size: 0.75em;
    }
}

ol {
    ::marker {
        color: var(--nutmeg);
        font-weight: 700;
    }
}

li {
    color: var(--wenge-brown);
    padding-left: 1.3em;
    margin-left: -1.3em;
    padding-bottom: .6em;
}

li:not(:last-child) {

}

em {
    font-style: normal;
    font-weight: 600;
}

table {
    border-collapse: collapse;
    width: 100%
}

tr {
    text-indent: 1.5em;
}

tr:not(:last-child) {
    border-bottom: 1px solid var(--light-gray);
}

th {
    color: var(--wenge-brown);
    text-align: left;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

td {
    color: var(--nutmeg);
    font-weight: 700;
}


footer.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (min-width: 600px) {
    body {
        /* Set up a centered flexbox */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    main {
        margin-top: 6em;
        margin-bottom: 4em;
        width: 50%;

        /* Set up a centered flexbox */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section.presentation {
        padding: 2em;

        /* Set up a centered flexbox */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img.presentation {
        width: 90%;
    }

    main, img.presentation {
        border-radius: 1em;
    }
}

/* Create a red wireframe; this is for debugging spacing and size issues. */
/* ul, ol, li, table, tr, img, td, th { */
/*     box-sizing: border-box; */
/*     /\* box-sizing: content-box; *\/ */
/*     border: 1px solid red; */
/* } */

/* main, body { */
/*     box-sizing: border-box; */
/*     /\* box-sizing: content-box; *\/ */
/*     border: 1px solid green; */
/* } */

/* section { */
/*     box-sizing: border-box; */
/*     /\* box-sizing: content-box; *\/ */
/*     border: 1px solid blue; */
/* } */
